.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.card-info {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, black, rgba(42, 0, 0, 0.69));
}

.video-wrapper {
  width: 100%;
}

.card_description {
  width: 100%;
  height: 254px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.paragraph {
  padding-top: 1em;
}
.para {
  color: white;
  font-size: 1em;
  font-weight: 300;
  line-height: 25px;
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#e68133, #b80303);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  -webkit-animation-name: move-down1;
  animation-name: move-down1;
}

@-webkit-keyframes move-up6 {
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@keyframes move-up6 {
  to {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes move-down1 {
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes move-down1 {
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.card-review {
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: 254px;
  height: 254px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.card-review::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.info {
  --color: #18181881;
  background: var(--color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  position: relative;
}

.info .overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), transparent);
  transition: background 0.5s ease;
  opacity: 0;
  color: #facd64;
}

.info:hover .overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  opacity: 1;
}

.info .title {
  text-align: center;
  font-size: 2rem;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.info:hover .title {
  opacity: 1;
}

.info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.497));
}

.info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.7rem;
}

.flex-wrapper {
  display: flex;
  gap: 2em;
}

.card {
  width: 100%;
  border-radius: 30px;
  max-height: 250px;
  background: #0000002a;
  -webkit-box-shadow: 10px 10px 20px rgba(25, 25, 25, 0.482),
    -15px -15px 30px rgb(60, 60, 60);
  box-shadow: 10px 10px 20px rgb(25, 25, 25),
    -15px -15px 30px rgba(60, 60, 60, 0.66);
}

.image-wrapper {
  width: 100%;
  height: 100%;
}

.image-wrapper img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.anime-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.anime_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.card-suggestion {
  width: 200px;
  height: 260px;
  background-color: #212121;
  box-shadow: 15px 15px 30px #191919, -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.card-suggestion:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  height: 100%;
  transition: transform 0.4s ease;
  color: white;
  padding: 1em;
}

.card .card-top,
.card .card-bottom {
  display: flex;
  justify-content: space-between;
}

.card .card-top p,
.card .card-top .card-title,
.card .card-bottom p,
.card .card-bottom .card-title {
  margin: 0;
}

.card .card-title {
  font-weight: bold;
}

.card .card-top p,
.card .card-bottom p {
  font-weight: 300;
}

.card .card-bottom {
  align-items: flex-end;
}

.card .card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.card .card-image svg {
  width: 4em;
  height: 4em;
  transition: transform 0.4s ease;
}

.card:hover {
  cursor: pointer;
  transform: scale(0.97);
}

.card:hover .card-content {
  transform: scale(0.96);
}

.card:hover .card-image svg {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.9);
}

.review-container {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background: linear-gradient(to left, #35000029 0%, #20010236 100%);
}

.card_suggest {
  z-index: 1;
  position: absolute;
  width: 254px;
  height: 190px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  overflow: hidden;
  transform: translateX(0px) translateY(0px) perspective(905px) rotateX(0deg)
    rotateY(0deg) rotateZ(-8deg);
  margin-left: 5rem;
}

.card_suggest.one {
  top: -120px;
  left: -150px;
  background: linear-gradient(180deg, #ff0055 0%, #000066 100%);
}

.card_suggest.two {
  top: -95px;
  left: -125px;
  background: linear-gradient(180deg, #fa00ff 0%, #01f998 99%);
}

.card_suggest.three {
  top: -70px;
  left: -100px;
  background: linear-gradient(180deg, #c0f901 0%, #fa00ff 100%);
}

.card_suggest:hover {
  z-index: 4;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
  transition: all 0.5s ease-out;
}

.cardDetails {
  width: 55%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card_suggest:hover .cardDetails {
  transform: perspective(2000px) rotateY(0deg);
}

.cardDetailsHaeder {
  font-weight: 600;
  color: #edb899;
}

.cardDetailsButton {
  padding: 3px 6px;
  border-radius: 25px;
  background-color: #edb899;
  color: #000;
  font-weight: 600;
}
