.hero {
  width: 100%;
  height: 100%;
  padding: 3rem 7.5rem;
  background-color: #000;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 90vh;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
}
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.border {
  border: 5px solid black;
}
.card {
  position: relative;
  width: 190px;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;
}
.card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0.9;
  transition: 0.5s;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a8f44b, #ff005944);
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a8f44a, #ff0058);
  filter: blur(30px);
}

.card b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.481);
  z-index: 2;
}

.card:hover img {
  scale: 0.9;
  opacity: 0.9;
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  color: white;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
  display: none;
}
.animeCard {
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 20rem;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 700;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  /* padding-top: 40px; */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.392),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.392)
  );
}
.title {
  position: relative;
  color: #fff;
  font-weight: 300;
  line-height: 3em;
  font-size: 2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5px;
}

.paragraph {
  font-weight: 500;
  font-size: 1em;
  margin-top: 2rem;
  color: rgb(106, 2, 2);
}
.animeInfo {
  padding: 1rem 2rem;
  width: 100%;
  color: white;
  background: linear-gradient(315deg, #03a8f414, #ff005912);
  margin: 1rem 2rem;
}

.rating {
  background-color: #f4d0039e;
}
.card_info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content_info .heading {
  font-weight: 700;
  font-size: 32px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.heading:hover {
  color: white;
}

.content_info .para {
  line-height: 1.5;
}

.content_info .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card_info::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(315deg, #03a8f4a1, #ff0059a5);
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card_info:hover::before {
  height: 100%;
}

.card_info:hover {
  box-shadow: none;
}

.card_info:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content_info .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content_info .btn:active {
  box-shadow: none;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff13;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
  color: #e8e6e6;
}

.info-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.cards {
  position: relative;
  margin: 15rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.anime_suggestion {
  position: relative;
  overflow: hidden;
}
.anime_suggestion::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #14000f62, black);
  z-index: 1;
}
.video_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.anime_rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* z-index: 2; */
}
.anime_row {
  position: relative;
  z-index: 3;
  width: 100%;
  margin: 1rem 10rem;
}

.card_suggest {
  z-index: 1;
  position: absolute;
  width: 254px;
  height: 190px;
  border-radius: 10px;
  transition: all 0.5s ease-out;
  overflow: hidden;
  transform: translateX(0px) translateY(0px) perspective(905px) rotateX(0deg) rotateY(0deg)
    rotateZ(-8deg);
  margin-left: 5rem;
}

.card_suggest.one {
  top: -120px;
  left: -150px;
  background: linear-gradient(180deg, #ff0055 0%, #000066 100%);
}

.card_suggest.two {
  top: -95px;
  left: -125px;
  background: linear-gradient(180deg, #fa00ff 0%, #01f998 99%);
}

.card_suggest.three {
  top: -70px;
  left: -100px;
  background: linear-gradient(180deg, #c0f901 0%, #fa00ff 100%);
}

.card_suggest:hover {
  z-index: 4;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) !important;
  transition: all 0.5s ease-out;
}

.cardDetails {
  width: 55%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card_suggest:hover .cardDetails {
  transform: perspective(2000px) rotateY(0deg);
}

.cardDetailsHaeder {
  font-weight: 600;
  color: #edb899;
}

.cardDetailsButton {
  padding: 3px 6px;
  border-radius: 25px;
  background-color: #edb899;
  color: #000;
  font-weight: 600;
}
.header_info {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  margin-right: 5rem;
}
.heading_info {
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  align-self: flex-start;
  position: absolute;
  left: 0;
  z-index: 10;
  transform: translateX(0px) translateY(0px) perspective(905px) rotateX(0deg) rotateY(0deg)
    rotateZ(-8deg);
}
@media (min-width: 300px) and (max-width: 900px) {
  .card_info {
    align-items: flex-start;
    justify-content: flex-start;

    padding: 12px;
  }
  .info-item {
    font-size: 10px;
  }
}
@media (min-width: 300px) and (max-width: 750px) {
  .container {
    flex-direction: column;

    width: 100%;
    height: 100%;
  }
  .animeInfo {
    padding: 0;
    margin: 0;
  }
  .card_info {
    padding: 5px;
    width: fit-content;
  }
  .info-item {
    font-size: 10px;
  }
  .anime_rows {
    flex-direction: column;
    align-items: center;
    padding-left: 3.2rem;
  }
}
@media (min-width: 300px) and (max-width: 610px) {
  .animeInfo {
    padding: 1rem;
    width: fit-content;
  }
  .card_info {
    width: fit-content;
  }
  .info-item {
    font-size: 10px;
  }
  .content_info .btn {
    font-weight: 300;
    width: 200px;
    height: 40px;
  }
}
